@import url(http://fonts.googleapis.com/css?family=Arimo|Open+Sans|Indie+Flower);
 .sidebar {
    width:220px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding-top: 50px;
    background: #2d353c;
    z-index: 10
}
.sidebar-item {
    list-style-type: none;
    padding: 10px 0 10px 30px;
    margin: 0;
    background: #1a2229;
    position: relative;
    display: none;
    font-family: 'Indie Flower', cursive;
    color: #fff;
}
.sidebar-active {
    list-style-type: none;
    padding: 10px 0 10px 30px;
    margin: 0;
    background: #999999;
    position: relative;
    display: none;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}
